@{
    ViewData["Title"] = "Chat";
}

<div id="chat-area">
    <div class="clear">
    </div>
    <br/>   
    <form id="sendmessage" action="#">
        <input type="text" id="new-message" />
        <input type="submit" id="send" value="Send" class="send" />
    </form>

    <ul id="messages"></ul>

</div>
<script src="~/lib/signalr-client/signalr-client.js"></script>
<script>
    let http = new signalR.HttpConnection(`http://${document.location.host}/chat`);
    let connection = new signalR.HubConnection(http);

    connection.onClosed = e => {
        if (e) {
            appendLine('Connection closed with error: ' + e, 'red');
        }
        else {
            appendLine('Disconnected', 'green');
        }
    };

    connection.on('Send', (message) => {
        var child = document.createElement('li');
        child.innerText = message;
        document.getElementById('messages').appendChild(child);
    });

    connection.start().catch(err => appendLine(err, 'red'));

    document.getElementById('sendmessage').addEventListener('submit', event => {
        let data = document.getElementById('new-message').value;
        connection.invoke('Send', data).catch(err => appendLine(err, 'red'));
        event.preventDefault();
    });

    function appendLine(line, color) {
        let child = document.createElement('li');
        if (color) {
            child.style.color = color;
        }
        child.innerText = line;
        document.getElementById('messages').appendChild(child);
    };

    function addUserOnline(user) {
        if (document.getElementById(user.ConnectionId)) {
            return;
        }
        var userLi = document.createElement('li');
        userLi.innerText = `${user.Name} (${user.ConnectionId})`;
        userLi.id = user.ConnectionId;
        document.getElementById('users').appendChild(userLi);
    }

    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    };

</script>